.pseudoBefore::before {
  content: var(--pseudoBefore--content);
  font-family: Arial;
}

.notion-content * {
  font-family: var(--notion-font-family) !important;
}
.layout {
  --content-width: minmax(auto, 708px);
  --margin-width: minmax(96px, 1fr);
  grid-template-columns:
    [full-start] var(--margin-width) [content-start] var(--content-width) [content-end] var(
      --margin-width
    )
    [full-end];
  display: grid;
  width: 100%;
}
.layout-wide {
  --content-width: 1fr;
  --margin-width: 96px;
}
.layout-full {
  grid-column: full;
}
.layout-content {
  grid-column: content;
}
